

<div class="grid place-items-center h-screen h-14 h-14 bg-linear-to-bl from-violet-500 to-fuchsia-500">
  <div class="max-w-sm mx-auto bg-white shadow-lg rounded-xl overflow-hidden">
  <!-- Header -->
  <div class="bg-gradient-to-r from-violet-400 to-fuchsia-400 px-4 py-2 text-white font-semibold rounded-t-xl">
    Ticket Radiant
  </div>

  <!-- Body -->
  <div class="p-4">
    <h2 class="text-xl font-bold mb-2">Inicie Session para revisar y/o abrir nuevo ticket</h2>
    <div class="text-gray-600">
      <form action="#">
      <div>
       <label for="nick" class="block text-sm/6 font-medium text-gray-900">Usuario:</label>
       <div class="mt-2">
          <input id="nick" type="text" placeholder="ingrese" name="nick" required  class="border-1 border-gray-500 block w-full rounded-md  px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-violet-400 sm:text-sm/6" />
        </div>
      </div>
      
      
        <div>
       <label for="nick" class="block text-sm/6 font-medium text-gray-900">Contraseña:</label>
       <div class="mt-2">
          <input id="password" type="password" placeholder="*****" name="nick" required  class="border-1 border-gray-500 block w-full rounded-md  px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-violet-400 sm:text-sm/6" />
        </div>
      </div>  

      </form>
    </div>
  </div>

  <!-- Footer -->
  <div class="px-4 py-2 bg-gray-100 text-right">
    <button class="bg-gradient-to-r from-violet-400 to-blue-400
     text-white px-4 py-1 rounded-md hover:bg-blue-700
     hover:opacity-90 
     hover:text-violet-700
     active:scale-95 active:brightness-90 
     transition transform duration-150 ease-in-out
     border-2 border-violet-500
     " id="login">
      Ingresar
    </button>
  </div>
</div>
</div>

<router-outlet />