
<div class="p-4">
  <button (click)="sidebarVisible = true" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">
    Menu de ejemplo como componente
  </button>
</div>


<div class="p-4 mt-4 flex-col text-center">
<app-sidebar [(visible)]="sidebarVisible"></app-sidebar>

<h1 class="text-2xl font-bold mb-4">Bienvenido al Home</h1>
<p class="text-gray-700">Pagina simple para verificar autentificacion, mantiene dos componentes uno para contrar suo correcto de for</p>
   <div class="container-ticket flex flex-wrap mt-5 ">
       <app-card-ticket class="flex-1" *ngFor="let item of pruebas" [ticket]="item" ></app-card-ticket>
    </div>



</div>